<%= link_to 'Home', root_url %>

<br/>
<br/>

<%= simple_form_for :oxford_learners_dictionaries, :url => '/oxford_learners_dictionaries/search', method: :get do |f| %>
  <%= f.input :word, as: :string %>
  <%= f.button :submit %>
<% end %>

<br/>

<p>
  DEFINITION
</p>

<% if @oxford %>
  <% @oxford.each do |key, value| %>
  <p>
    <%= key %>: <%= value %>
  </p>
  <% end %>
<% end %>
